.magnetic-button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  position: relative;
  z-index: 1;
  touch-action: none;

  span {
    display: inline-block;
  }
}

.button-1 {
  background: #075ab3;
  color: white;
  border-radius: 30px;
  border: none;
  padding: 20px 40px;
}

.button-2 {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #075ab3;
  color: #075ab3;
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin: 40px auto;
}
