@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");
/* body {
  /* margin: 0;
  padding: 0;
  background-color: rgb(151, 151, 151);
  box-sizing: border-box; */
  /* font-family: "Questrial", sans-serif; */
/*
/* html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: -1;
}
a:link {
  text-decoration: none;
}
.main{
  display: inline-block;
}
.noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 1;
}
.loader__wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

} */
