.nav{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
}
.nav__items > ul > li {
    display: inline-block;
    font-size: .5rem;
    padding: 1rem .5rem;


}
.nav__items > ul{
    display: flex;
    list-style: none;
}
