.nav{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem;
    font-size: .8rem;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
}
.nav__header {
    font-size: .8rem;
    color: #fff;
    text-decoration: none;
}
.nav__items > ul > li {
    display: inline-block;
    font-size: .5rem;
    padding: .4rem .5rem;
    z-index: 20;

}
.nav__items > ul{
    display: flex;
    list-style: none;
}

.nav__header:hover{
    color: #000; 
}
.nav__links{
font-size: 1.5em;
color: #fff;
text-decoration: none;
font-weight: bold;
border-bottom: 1px dashed transparent;

}
.nav__links:hover{
    color: #000;   
}
.un{
    border-bottom: 1px dashed transparent;    
    transition: all 0.2s ease-in-out;
}
.un:hover{
    border-bottom: 1px dashed #000;    
}