.contact__container{
    margin: 1rem 1.5rem;
    justify-content: center;
    padding: 1rem;
    border: 1px dashed #fff;
    /* border-top: none;
    border-left: none;
    border-right: none; */

}
.contact__header{
    font-size: .75rem;
    padding: 1rem 0rem;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;

}
.contact__links > a{
    padding: 1rem 1rem;
    display: block;
    font-size: .8rem;
    color: #fff;
    text-align: left;
    border-top: 1px dashed #fff;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}
.contact__links > a:hover{
    color: rgb(0, 0, 0);

}
/* .contact__header:hover{
    color: rgb(0, 0, 0);

} */
.blur-effect {
    filter: blur(50px);
    transition: filter 0.7s;
  }
  
  .blur-effect.is-inview {
    filter: blur(0px);
  }

